.fondo-banner-conocenos-escritorio{
    background: url(https://res.cloudinary.com/dlzcbrqax/image/upload/v1653705291/conocenos/Group_54_4_jfmc3t.png);
    height: 100vh;
}

.banner-pie-conocenos-escritorio {
    position: absolute;
    margin-top: 72vh;
    min-width: 292px;
    min-height: 181px;
    text-align: center;
    letter-spacing: -0.408px;
    color: #ffffff;
}

.boton-verde-conocenos{
    height: 40px;
    width: 200px;
    box-sizing: border-box;
    background: #B0DD34;
    border: 1.5px solid rgba(255, 255, 255, 0.5);
    border-radius: 37.2289px;
}
