.banner-posi-mb-escritorio{
    margin-top: 80px;
  }

  .posi-happy-ending{
    margin-top: 150px;
  }

  @media (max-width: 768px) {
    .posi-happy-ending{
      margin-top: 10px;
      padding-bottom: 50px ;
      padding-top: 10px;
    }
  }


  .titulos-impacto-mb-escritorio{
    position: relative;
    width: 500px;
    height: 80px;
    padding: 0.5rem 0 !important;
    background: #7637de;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border: 1.5px solid rgba(255, 255, 255, 0.3);
  }
  
  @media (max-width: 1024px) {
  .titulos-impacto-mb-escritorio{
      position: relative;
      width: 400px !important;
      height: 70px !important;
      padding: 0.5rem 0 !important;
      background: #7637de;
      border-top-right-radius: 30px;
      border-top-left-radius: 30px;
      border-bottom-right-radius: 30px;
      border-bottom-left-radius: 30px;
      border: 1.5px solid rgba(255, 255, 255, 0.3);
  }
  }
  
  @media (max-width: 768px) {
    .titulos-impacto-mb-escritorio{
        position: relative;
        width: 400px !important;
        height: 80px !important;
        padding: 0.5rem 0 !important;
        background: #7637de;
        border-top-right-radius: 30px;
        border-top-left-radius: 30px;
        border-bottom-right-radius: 30px;
        border-bottom-left-radius: 30px;
        border: 1.5px solid rgba(255, 255, 255, 0.3);
    }
  }
  