.banner-posi-prensa-escritorio{
    margin-top: -200px;
  }

.prensa-imagen{
  width: 150px;
}

@media (max-width: 425px) {
  .prensa-imagen{
    width: 100px;
  }
}


/* .titulo-prensa{
  margin-top: 200px;
} */


@media (max-width: 1024px) {
  .titulo-prensa{
    margin-top: 150px;
  }
}

@media (max-width: 425px) {
  .titulo-prensa{
    margin-top: 0;
  }
}

.sin-sub{
  text-decoration: none;
}