.fondo-banner-av {
    background: url(https://res.cloudinary.com/dlzcbrqax/image/upload/v1653425855/audiovisual/audiovisualescritorio_zdazuh.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 80vh;
}

.banner-pie {
    position: absolute;
    margin-top: 60vh;
    min-width: 292px;
    min-height: 181px;
    text-align: center;
    letter-spacing: -0.408px;
    color: #ffffff;
}

.titulo-contenido-av {
    width: 290px;
    background: #7637de;
    backdrop-filter: blur(4px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 45px;
}

.boton-verde-av{
    height: 40px;
    width: 200px;
    box-sizing: border-box;
    background: #B0DD34;
    border: 1.5px solid rgba(255, 255, 255, 0.5);
    border-radius: 37.2289px;
}

.gradient{
    background: linear-gradient(360deg, rgba(56, 59, 117, 0) 14.53%, #1E2048 99.82%);
}

