.fondo-banner-av-escritorio {
    background: url(https://res.cloudinary.com/dlzcbrqax/image/upload/v1653704987/audiovisual/Group_54_1_b492vr.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 100vh;
}

.banner-pie-av-escritorio {
    position: absolute;
    margin-top: 75vh;
    min-width: 292px;
    min-height: 181px;
    text-align: center;
    letter-spacing: -0.408px;
    color: #ffffff;
}

.titulo-contenido-av {
    width: 290px;
    background: #7637de;
    backdrop-filter: blur(4px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 45px;
}

.boton-verde-av{
    height: 40px;
    width: 200px;
    box-sizing: border-box;
    background: #B0DD34;
    border: 1.5px solid rgba(255, 255, 255, 0.5);
    border-radius: 37.2289px;
}


