.fondo-banner-av-escritorio {
    background: url(https://res.cloudinary.com/dlzcbrqax/image/upload/v1653704987/audiovisual/Group_54_1_b492vr.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 100vh;
}

.banner-pie-av-escritorio {
    position: absolute;
    margin-top: 75vh;
    min-width: 292px;
    min-height: 181px;
    text-align: center;
    letter-spacing: -0.408px;
    color: #ffffff;
}

.titulo-contenido-av {
    background: #7637de;
    backdrop-filter: blur(4px);
    border-radius: 30px;
    font-size: 30px;
}
.texto-av{
    font-size: 22px;
}

@media (max-width: 995px) {
    .titulo-contenido-av {
        font-size: 22px;
    }
    .texto-av{
        font-size: 17px;
    }
}


.banner-posi-av-escritorio{
    margin-top: -40px; 
}

@media (max-width: 1024px) {
    .banner-posi-av-escritorio{
        margin-top: -50px; 
  }
}

@media (max-width: 768px) {
    .banner-posi-av-escritorio{
        margin-top: -10px; 
  }
}
