.banner-posi-eventos-escritorio{
    margin-top: -40px;
  }

  @media (max-width: 1024px) {
    .banner-posi-eventos-escritorio{
      margin-top: 50px;
    }
  }

  @media (max-width: 768px) {
    .banner-posi-eventos-escritorio{
      margin-top: 20px;
    }
  }

  .posi-eventos-escritorio{
    margin-top: 110px;
  }

  @media (max-width: 1024px) {
    .posi-eventos-escritorio{
      margin-top: 20px;
    }
  }