.banner-posi-servicio-escritorio{
    margin-top: -300px;
  }

  @media (max-width: 1024px) {
    .banner-posi-servicio-escritorio{
      margin-top: -220px;
    }
  }

  @media (max-width: 768px) {
    .banner-posi-servicio-escritorio{
      margin-top: -160px;
    }
  }
  
  /* Banner */
.color-violeta-fondo-banner-pie {
  background-color: #7737de42 !important;
}