.banner-posi-servicio-escritorio{
    margin-top: -40px;
  }

  @media (max-width: 1024px) {
    .banner-posi-servicio-escritorio{
      margin-top: -50px;
    }
  }

  @media (max-width: 768px) {
    .banner-posi-servicio-escritorio{
      margin-top: -20px;
    }
  }
  
  /* Banner */
.color-violeta-fondo-banner-pie {
  background-color: #7737de42 !important;
}

.titulos-impacto-servicios-escritorio{
  position: relative;
  width: 500px;
  height: 70px;
  padding: 0.5rem 0 !important;
  background: #7637de;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border: 1.5px solid rgba(255, 255, 255, 0.3);
  margin-top: -150px;
}

@media (max-width: 1024px) {
.titulos-impacto-servicios-escritorio{
    position: relative;
    width: 400px !important;
    height: 70px !important;
    padding: 0.5rem 0 !important;
    background: #7637de;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border: 1.5px solid rgba(255, 255, 255, 0.3);
    margin-top: -50px;
}
}

@media (max-width: 768px) {
  .titulos-impacto-servicios-escritorio{
      position: relative;
      width: 400px !important;
      height: 60px !important;
      padding: 0.5rem 0 !important;
      background: #7637de;
      border-top-right-radius: 30px;
      border-top-left-radius: 30px;
      border-bottom-right-radius: 30px;
      border-bottom-left-radius: 30px;
      border: 1.5px solid rgba(255, 255, 255, 0.3);
      margin-top: -50px;
  }
}