.banner-posi-servicio-escritorio{
    margin-top: -40px;
  }

  @media (max-width: 1024px) {
    .banner-posi-servicio-escritorio{
      margin-top: -50px;
    }
  }

  @media (max-width: 768px) {
    .banner-posi-servicio-escritorio{
      margin-top: -20px;
    }
  }
  
  /* Banner */
.color-violeta-fondo-banner-pie {
  background-color: #7737de42 !important;
}