.card-digital-escritorio {
  width: 250px;
  height: 250px;
}

.imagen-card-conocenos {
  width: 200px !important;
  margin-top: -25px;
}

@media (min-width: 1400px) {
  .tarjeta {
    margin-top: 100px;
  }
}
