.banner-posi-sitio-escritorio{
  margin-top: -300px;
}

@media (max-width: 1024px) {
  .banner-posi-sitio-escritorio{
    margin-top: -220px;
  }
}

@media (max-width: 768px) {
  .banner-posi-sitio-escritorio{
    margin-top: -160px;
  }
}