.banner-posi-social-escritorio{
    margin-top: -40px;  /*el margen es de 260 porque tiene 4 lineas de párrafos a diferencia de los otros*/
  }
  @media (max-width: 1024px) {
    .banner-posi-eventos-escritorio{
      margin-top: 50px;
    }
  }

  @media (max-width: 768px) {
    .banner-posi-eventos-escritorio{
      margin-top: 20px;
    }
  }

.banner-escritorio-social-media{
  width: 100%;
  }