@font-face {
  font-family: "Asap-Regular";
  src: url(./fonts/Asap-Regular.ttf);
}
@font-face {
  font-family: "Asap-Italic";
  src: url(./fonts/Asap-Italic.ttf);
}
@font-face {
  font-family: "Asap-Bold";
  src: url(./fonts/Asap-Bold.ttf);
}
@font-face {
  font-family: "Asap-BoldItalic";
  src: url(./fonts/Asap-BoldItalic.ttf);
}

body {
  font-family: "Asap-Regular" !important;
  font-size: 17px;
  margin: 0;
  min-height: 100vh !important;
  display: flex !important;
  flex-direction: column !important;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #1e2048 !important;
}

.peso-regular {
  font-family: "Asap-Regular";
}

.peso-bold {
  font-family: "Asap-Bold";
}

/*Weight 400 */
.peso-italic {
  font-family: "Asap-Italic";
}

/*Weight 700 */
.peso-bold-italic {
  font-family: "Asap-BoldItalic";
}

.tamaño-mas-grande {
  font-size: 30px;
}

.tamaño-grande {
  font-size: 22px;
}

.tamaño-medio {
  font-size: 17px;
}

.tamaño-chico {
  font-size: 12px;
}

.color-celeste {
  color: #7273b3;
}

.color-celeste-fondo {
  background-color: #7273b3;
}

.color-negro {
  color: #181721;
}

.color-negro-fondo {
  background-color: #181721;
}

.color-azul {
  color: #383b75;
}

.color-azul-fondo {
  background-color: #383b75;
}

.color-azul-oscuro {
  color: #1e2048;
}

.color-azul-oscuro-fondo {
  background-color: #1e2048;
}

.color-gris {
  color: #84848c;
}

.color-gris-fondo {
  background-color: #84848c;
}

.color-violeta {
  color: #7637de;
}

.color-violeta-fondo {
  background-color: #7637de;
}

.sin-sub {
  text-decoration: none !important;
}

.espaciado {
  letter-spacing: 0.35px;
}
.mas-espaciado {
  letter-spacing: 2.85px;
}
.menos-espaciado {
  /* letter-spacing: -0.5px; */
}

.color-blanco {
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 30px 60px rgba(57, 57, 57, 0.1);
  border-radius: 10px;
}

.color-verde {
  color: #b0dd34;
}

.color-verde-claro {
  color: #b1dd35;
}

.color-verde-fondo {
  background-color: #b0dd34;
}

.color-verde-claro-fondo {
  background-color: #b1dd35;
}
.wrap-pre {
  white-space: pre-wrap;
}

pre {
  overflow: hidden !important;
}

.mb-45 {
  margin-bottom: 2.25rem !important;
}

.my-45 {
  margin-top: 2.25rem !important;
  margin-bottom: 2.25rem !important;
}

.swiper-button-next {
  right: -5px !important;
  color: #b0dd34 !important;
}
.swiper-button-next:after {
  font-size: 30px !important;
  font-weight: 700 !important;
}
.swiper-button-prev {
  left: -5px !important;
  color: #b0dd34 !important;
}
.swiper-button-prev:after {
  font-size: 30px !important;
  font-weight: 700 !important;
}

/* Navbar Celular */

.navbar-toggler-icon {
  background-image: url(https://res.cloudinary.com/dlzcbrqax/image/upload/v1647479679/Home/hamburguesa-blanca3_lllh8c.png) !important;
}
.navbar-dark .navbar-toggler {
  border: 0;
}

.navbar-celu {
  margin-left: auto;
  width: 163px;
  background-color: #1e2048;
  text-align: center;
  border: 2px solid rgba(255, 255, 255, 0.15);
  border-radius: 20px 0px 0px 20px;
}

/* Banner */
.color-violeta-fondo-banner-pie {
  background-color: #7737de42 !important;
}

.fondo-banner {
  /* background: url(https://res.cloudinary.com/dlzcbrqax/image/upload/v1661383015/banners/bannersocialmedia_gcqdlo.jpg); */
  background: url(https://res.cloudinary.com/dlzcbrqax/image/upload/v1666059705/banners/BannerHome_dxeect.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 115vh;
}

.fondo-banner-servicios-cel {
  background: url(https://res.cloudinary.com/dlzcbrqax/image/upload/v1661965266/banner%20celu/bannersocialmediacel_uhm21c.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 105vh;
}

.fondo-banner-social-media-cel {
  background: url(https://res.cloudinary.com/dlzcbrqax/image/upload/v1661965266/banner%20celu/bannersocialmediacel_uhm21c.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 105vh;
}

.fondo-banner-eventos-cel {
  background: url(https://res.cloudinary.com/dlzcbrqax/image/upload/v1661965265/banner%20celu/bannereventoscel_th2bnn.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 105vh;
}

.fondo-banner-pav-cel {
  background: url(https://res.cloudinary.com/dlzcbrqax/image/upload/v1661965265/banner%20celu/bannercelav_umbasu.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 105vh;
}

.fondo-banner-sitio-web-cel {
  background: url(https://res.cloudinary.com/dlzcbrqax/image/upload/v1661965266/banner%20celu/bannnersitiowebcel_l19etf.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 105vh;
}

.fondo-banner-dg-cel {
  background: url(https://res.cloudinary.com/dlzcbrqax/image/upload/v1661965265/banner%20celu/bannerdgcel_rqgqhc.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 105vh;
}

.fondo-banner-prensa-cel {
  background: url(https://res.cloudinary.com/dlzcbrqax/image/upload/v1661965266/banner%20celu/bannerprensacel_d6zity.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 105vh;
}

.fondo-banner-consultoria-cel {
  background: url(https://res.cloudinary.com/dlzcbrqax/image/upload/v1661965265/banner%20celu/bannerconsultoriacel_s0aexq.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 105vh;
}

.banner-escritorio {
  width: 100%;
}

/* .banner-posi-escritorio {
  margin-top: -160px;
} */

.centrado {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-home {
  /* position: absolute; */
  margin-top: 69vh;
  min-width: 292px;
  min-height: 181px;
}

.card-digital-escritorio {
  width: 240px;
  height: 240px;
}

.imagen-card-conocenos {
  width: 200px !important;
  margin-top: -25px;
}

@media (min-width: 1400px) {
  .tarjeta {
    margin-top: 100px;
  }
}

.boton-verde {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  height: 50.54px;
  width: 220px;
  cursor: pointer;
  background: #b0dd34;
  border: 1.5px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(74.4578px);

  border-radius: 37.2289px;
}

/* Banner 2 */

.imagen-joven {
  position: absolute;
  right: 0;
  z-index: 2;
}
.imagen-joven-fondo {
  display: flex;
  margin-left: auto;
}
.texto-sombra {
  text-shadow: 0px 10px 60px rgba(0, 0, 0, 0.5);
}

.boton-morado-posi {
  transform: translateY(-270px) !important;
  z-index: 3;
  position: absolute;
}

.boton-morado {
  width: 175px;
  height: 82px;
  background: #7637de;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border: 1.5px solid rgba(255, 255, 255, 0.3);
}

.boton-morado-escritorio {
  height: 63px;
  width: 357px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #7637de;
  border-radius: 30px;
  border: 1.5px solid rgba(255, 255, 255, 0.3);
}

.caja-somosenergia {
  width: 532px;
}

.letras-posi {
  position: absolute;
  width: 137px;
  height: 59px;
  display: flex;
  align-items: center;
  letter-spacing: 2.85px;
}
.posi {
  top: -3px;
}
.posi2 {
  top: 24px;
}

/* Banner Trabajos*/
.padding-nav {
  padding-top: 65px;
}

.fondo-banner-trabajos {
  background: url(https://res.cloudinary.com/dlzcbrqax/image/upload/v1653613030/Trabajos/mind_mu0uug.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 100vh;
  margin-top: -30px;
  margin-bottom: -50px;
}
/* Banner 3 DKZ */

.imagen-dkz-fondo1 {
  position: absolute;
  right: 0;
  z-index: 1;
}
.imagen-dkz-fondo2 {
  display: flex;
  margin-left: auto;
}

/*FRASE*/

.efecto-blur-card {
  background: rgba(255, 255, 255, 0.03);
  mix-blend-mode: normal;
  border: 1.5px solid rgba(255, 255, 255, 0.15);
  box-sizing: border-box;
  backdrop-filter: blur(30px);
  border-radius: 30px;
}

/*SOLUCIONES DIGITALES*/
.card-digital {
  width: 10.5rem;
  height: 11.75rem;
}

@media (max-width: 399px) {
  .card-digital {
    width: 9.5rem;
    height: 11.75rem;
  }
}

.border-card {
  border-radius: 20px 20px 20px 20px !important;
}

.border-card .card-body {
  padding: 0.5rem 1rem !important;
}

.imagen-card {
  width: 140px !important;
  margin-top: -15px;
}

/*AUDIOVISUALES*/
.fondo-banner-av {
  background: url(https://res.cloudinary.com/dlzcbrqax/image/upload/v1653614050/audiovisual/Audiovisual_wzlhb7.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 100vh;
}

.titulo-audiovisual {
  position: absolute;
  width: 315px;
  height: 135px;
  left: calc(50% - 315px / 2 + 1.5px);
  top: calc(65% - 135px / 2 - 427.5px);
  text-align: center;
  letter-spacing: -0.408px;
  color: #ffffff;
}

.banner-pie {
  position: absolute;
  margin-top: 83vh;
  min-width: 292px;
  min-height: 181px;
  text-align: center;
  letter-spacing: -0.408px;
  color: #ffffff;
}

.titulo-verde {
  padding: 12px;
  background: #7637de;
  mix-blend-mode: normal;
  border: 1.5px solid rgba(255, 255, 255, 0.3);
  border-radius: 0px 30px 30px 0px;
}

.posicion-titulo {
  margin-right: 100px;
}

.texto-creatividad {
  line-height: 22px;
  text-align: center;
  color: #ffffff;
}

/*CONÓCENOS*/
.fondo-banner-conocenos {
  background: url(https://res.cloudinary.com/dlzcbrqax/image/upload/v1653615052/conocenos/conocenos_zpov1n.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 100vh;
}

.titulo-conocenos {
  position: absolute;
  height: 135px;
  top: calc(72% - 135px / 2 - 427.5px);
  text-align: center;
  letter-spacing: -0.408px;
  color: #ffffff;
}

/* Contactanos */
.form-contactanos .form-control {
  height: 51px;
  color: #ffffff;
  background: rgba(255, 255, 255, 0.03);
  mix-blend-mode: normal;
  border: 1.5px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(30px);

  border-radius: 30px;
}

.form-contactanos .form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}

.form-contactanos .form-control:active {
  color: #212529;
  background-color: #fff;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}

.boton-verde-formulario {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50.54px;
  width: 220px;
  background: #b0dd34 !important;
  border: 1.5px solid rgba(255, 255, 255, 0.3) !important;
  backdrop-filter: blur(74.4578px) !important;
  border-radius: 37.2289px !important;
}

/* Pagina en Construccion */

.padding-sitioconst {
  padding-top: 140px;
}

.padding-fixed {
  padding-bottom: 200px;
}

.padding-fixed-contactanos {
  padding-bottom: 10px;
}

/*Footer*/
.footer {
  margin-top: auto;
}

/*NAVBAR ESCRITORIO*/

.tamaño-letra-opciones {
  margin: auto;
}

.tamaño-letra-opciones .form-select {
  font-size: 22px;
}
.tamaño-letra-opciones .form-select option {
  font-size: 17px;
  /* text-align: ; */
}

.navbar-fixed {
  font-size: 22px;
  background-color: #1e2048;
  border-radius: 45px;
  border: 2px solid #292c5d !important;
}

@media (max-width: 1200px) {
  .navbar-fixed {
    font-size: 17px;
  }

  .tamaño-letra-opciones .form-select {
    font-size: 17px;
  }
  .tamaño-letra-opciones .form-select option {
    font-size: 12px;
  }
}

/*Select NavBar*/
.color-select {
  background-color: #1e2048 !important;
  margin-top: 5px;
}

.color-select-2 {
  background-color: #7637de !important;
}

/*SITIO CONSTRUCCION ESCRITORIO*/
.padding-sitioconst {
  padding-top: 120px;
}

/*Pagina no encontrada*/
.padding-sitionoencontrado {
  padding-top: 220px;
}

/*ICONOS CELULAR*/
.iconos {
  width: 70px;
  height: 70px;
}

/*Navbar hover*/
.dropdown:hover .dropdown-menu {
  display: block !important;
}

.dropdown .dropdown-menu {
  display: none;
  margin-top: 0;
}

.dropdown-menu[data-bs-popper] {
  top: 100%;
  left: 0;
  margin-top: -5px !important;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgb(255, 255, 255) !important;
}

.dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0 solid !important;
  border-right: 0 solid transparent !important;
  border-bottom: 0 !important;
  border-left: 0 solid transparent !important;
}

.navbar-escritorio .dropdown-menu {
  background-color: #1e2048;
}

.navbar-escritorio .dropdown-item {
  color: white;
}

.navbar-escritorio .dropdown-item:hover {
  background-color: #383b75;
  color: white;
}

.navbar-escritorio .dropdown-item:active {
  background-color: #b0dd34;
  color: #1e2048;
}

.navbar-escritorio .dropdown-item:focus {
  background-color: #b0dd34;
  color: #1e2048;
}

/*MARGENES BANNERS */
/*conocenos*/
.card-home-conocenos {
  /* position: absolute; */
  margin-top: 48vh;
  min-width: 292px;
  min-height: 181px;
  text-align: center;
  letter-spacing: -0.408px;
  color: #ffffff;
}

/*Servicios*/
.banner-pie-servicio-cel {
  position: absolute;
  margin-top: 60vh;
  min-width: 292px;
  min-height: 181px;
  text-align: center;
  letter-spacing: -0.408px;
  color: #ffffff;
}

/*Social media*/
.banner-pie-social-media {
  position: absolute;
  margin-top: 64vh;
  min-width: 292px;
  min-height: 181px;
  text-align: center;
  letter-spacing: -0.408px;
  color: #ffffff;
}

/*Eventos*/
.banner-pie-eventos {
  position: absolute;
  margin-top: 70vh;
  min-width: 292px;
  min-height: 181px;
  text-align: center;
  letter-spacing: -0.408px;
  color: #ffffff;
}
/*audiovisual*/
.banner-pie-audiovisual {
  position: absolute;
  margin-top: 70vh;
  min-width: 292px;
  min-height: 181px;
  text-align: center;
  letter-spacing: -0.408px;
  color: #ffffff;
}

/*Diseño grafico*/
.banner-pie-dg {
  position: absolute;
  margin-top: 56vh;
  min-width: 292px;
  min-height: 181px;
  text-align: center;
  letter-spacing: -0.408px;
  color: #ffffff;
}

/*Prensa*/
.banner-pie-prensa {
  position: absolute;
  margin-top: 66vh;
  min-width: 292px;
  min-height: 181px;
  text-align: center;
  letter-spacing: -0.408px;
  color: #ffffff;
}

/*consultoria*/
.banner-pie-consultoria {
  position: absolute;
  margin-top: 66vh;
  min-width: 292px;
  min-height: 181px;
  text-align: center;
  letter-spacing: -0.408px;
  color: #ffffff;
}

/* MindBlown */

@media (min-width: 800px) {
  .margen-mb-trabajos {
    margin: 0 12.6% !important;
  }
}

/*card-conocenos*/

.caja-service {
  position: relative;
  width: 250px;
  height: 250px;
  background: #fff;
  margin: 0 auto;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

@media (min-width: 1024px) {
  .caja-service {
    position: relative;
    width: 200px;
    height: 200px;
    background: #fff;
    margin: 0 auto;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  }
}

@media (min-width: 768px) {
  .caja-service {
    position: relative;
    width: 200px;
    height: 200px;
    background: #fff;
    margin: 0 auto;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  }
}
.caja-service:before,
.caja-service:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background: #fff;
  transition: 0.5s;
  z-index: -1;
}

.caja-service .imgBx-service {
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  background: #222;
  transition: 0.5s;
  z-index: 1;
}

.caja-service:hover .imgBx-service {
  bottom: 80px;
}

.caja-service .imgBx-service img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.caja-service .details-service {
  position: absolute;
  color: #1e2048;
  left: 10px;
  right: 10px;
  bottom: -10px;
  height: 68px;
  text-align: center;
}

/*frase*/

.heading {
  box-shadow: 0 0 10px #7637de;
  /* mix-blend-mode: screen; */
  animation: fadeIn 2s infinite;
}

@keyframes fadeIn {
  0% {
    /* opacity: 0.5; */
    box-shadow: 0 0 10px #7637de;
  }

  50% {
    /* opacity: 1; */
    box-shadow: 0px 0px 0px #7637de;
  }

  100% {
    /* opacity: 0.5; */
    box-shadow: 0 0 10px #7637de;
  }
}

.titulos-impacto {
  background: #7637de;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  padding: 0.5rem 0 !important;
  border: 1.5px solid rgba(255, 255, 255, 0.3);
}

@keyframes hvr-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  33.3% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }
  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.efecto-hover .swiper-slide img:hover,
.efecto-hover .swiper-slide img:focus,
.efecto-hover .swiper-slide img:active {
  animation-name: hvr-wobble-horizontal;
  animation-duration: 1s;
}

.col-25{
  flex: 0 0 auto;
  width: 18%;
}

.margen-negativo{
  margin-top: -80px;
}

.margen-negativo2{
  margin-top: -220px;
}

.pading-extra{
  padding-left: 5rem !important;
  padding-right: 5rem !important;
}

.icono-wsp{
  transition-duration: 0.5s;
}

/*Banners*/
.banner-posicion-escritorio {
  margin-top: -60px;
  margin-bottom: 80px;
}

@media (max-width: 1024px) {
  .banner-posicion-escritorio {
    margin-top: 40px;
    margin-bottom: -40px;
    /* margin-bottom: -40px; mueve el contenido de abajo del banner */
  }
}

@media (max-width: 768px) {
  .banner-posicion-escritorio {
    margin-top: 60px;
    margin-bottom: -10px;
  }
}

/* Banner */
.color-violeta-fondo-banner-pie {
  background-color: #7737de42 !important;
}