@font-face {
  font-family: "Asap-Regular";
  src: url(./fonts/Asap-Regular.ttf);
}
@font-face {
  font-family: "Asap-Italic";
  src: url(./fonts/Asap-Italic.ttf);
}
@font-face {
  font-family: "Asap-Bold";
  src: url(./fonts/Asap-Bold.ttf);
}
@font-face {
  font-family: "Asap-BoldItalic";
  src: url(./fonts/Asap-BoldItalic.ttf);
}

body {
  font-family: "Asap-Regular" !important;
  font-size: 17px;
  margin: 0;
}

.peso-regular {
  font-family: "Asap-Regular";
}

.peso-bold {
  font-family: "Asap-Bold";
}

.peso-italic {
  font-family: "Asap-Italic";
}

.peso-bold-italic {
  font-family: "Asap-BoldItalic";
}

.tamaño-mas-grande {
  font-size: 30px;
}

.tamaño-grande {
  font-size: 22px;
}

.tamaño-medio {
  font-size: 17px;
}

.tamaño-chico {
  font-size: 12px;
}

.color-celeste {
  color: #7273b3;
}

.color-celeste-fondo {
  background-color: #7273b3;
}

.color-negro {
  color: #181721;
}

.color-negro-fondo {
  background-color: #181721;
}

.color-azul {
  color: #383b75;
}

.color-azul-fondo {
  background-color: #383b75;
}

.color-azul-oscuro {
  color: #1e2048;
}

.color-azul-oscuro-fondo {
  background-color: #1e2048;
}

.color-gris {
  color: #84848c;
}

.color-gris-fondo {
  background-color: #84848c;
}

.color-violeta {
  color: #7637de;
}

.color-violeta-fondo {
  background-color: #7637de;
}

.sin-sub {
  text-decoration: none !important;
}

.espaciado {
  letter-spacing: 0.35px;
}

.color-blanco {
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 30px 60px rgba(57, 57, 57, 0.1);
  border-radius: 10px;
}

.color-verde {
  color: rgba(176, 221, 52, 1);
}

/* .wrap-pre{
  white-space: pre-wrap;
} */

/* pre {
  overflow: hidden !important;
} */

/* .container{
  max-width: 65% !important;
} */

/* Navbar */

.navbar-toggler-icon {
  background-image: url(https://res.cloudinary.com/dlzcbrqax/image/upload/v1647479679/Home/hamburguesa-blanca3_lllh8c.png) !important;
}

/* Banner */

.fondo-banner {
  background: url(https://res.cloudinary.com/dlzcbrqax/image/upload/v1647482070/Home/unsplash_MChSQHxGZrQ2_dgkavi.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 105vh;
}

.card-position {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.card-home {
  position: absolute;
  margin-top: 75vh;
  min-width: 292px;
  min-height: 181px;

  background: rgba(255, 255, 255, 0.01);
  border: 1.5px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(30px);

  border-radius: 30px;
}

.boton-morado {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  height: 50.54px;
  width: 220px;

  background: #7637de;
  border: 1.5px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(74.4578px);

  border-radius: 37.2289px;
}

/* Banner 2 */

.imagen-joven{
  position: absolute;
  right: 0;
  z-index: 2;
}
.imagen-joven-fondo {
  display: flex;
  margin-left: auto;
}
.texto-sombra {
  text-shadow: 0px 10px 60px rgba(0, 0, 0, 0.5);
}

.boton-verde-posi{
  transform: translateY(-270px) !important;
  z-index: 3;
  position: absolute;
}

.boton-verde{
  width: 175px;
  height: 82px;
  background: #B2DE36;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border: 1.5px solid rgba(255, 255, 255, 0.3);
}
.letras-moradas {
  position: absolute;
  width: 137px;
  height: 59px;
  display: flex;
  align-items: center;
  letter-spacing: 2.85px;
}
.posi{
  top:-3px;
}
.posi2 {
  top: 24px;
}

/* Banner Trabajos*/

.fondo-banner-trabajos {
  background: url(https://res.cloudinary.com/dlzcbrqax/image/upload/v1647482070/Home/unsplash_MChSQHxGZrQ2_dgkavi.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 105vh;
}

/*FRASE*/

.efecto-blur-card {
  background: rgba(255, 255, 255, 0.03);
  mix-blend-mode: normal;
  border: 1.5px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  backdrop-filter: blur(30px);

  border-radius: 30px;
}

/*SOLUCIONES DIGITALES*/
.card-digital {
  width: 11rem;
}

.border-card {
  border-radius: 20px 10px !important;
}

.imagen-card {
  width: 140px !important;
  margin-top: -15px;
}

/*ICONOS*/
.iconos {
  width: 60px;
  color: #7637de;
}


/*AUDIOVISUALES*/
.fondo-banner-av {
  background: url(../src/assets/av.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 100vh;
}

.titulo-audiovisual {
  position: absolute;
  width: 315px;
  height: 135px;
  left: calc(50% - 315px / 2 + 1.5px);
  top: calc(50% - 135px / 2 - 427.5px);
  text-align: center;
  letter-spacing: -0.408px;
  color: #ffffff;
}

.banner-pie {
  position: absolute;
  margin-top: 79vh;
  min-width: 292px;
  min-height: 181px;
  text-align: center;
  letter-spacing: -0.408px;
  color: #ffffff;
}

.titulo-verde{
width: 300px;
padding: 6px;
background: #B2DE36;
mix-blend-mode: normal;
border: 1.5px solid rgba(255, 255, 255, 0.3);
border-radius: 0px 30px 30px 0px;
}

.posicion-titulo{
  margin-right: 100px;
}

.texto-creatividad{
position: absolute;
width: 315px;
height: 135px;

font-family: 'Asap';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 22px;
/* or 129% */
text-align: center;
color: #FFFFFF;
}

.contenedor-padding {
  padding-bottom: 3rem;
  padding-top: 1rem;
}

.contenedor-padding-post {
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.boton-morado-visuales {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  height: 50.54px;
  width: 300px;

  background: #7637de;
  border: 1.5px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(74.4578px);

  border-radius: 37.2289px;
}

/*CONÓCENOS*/
.fondo-banner-conocenos{
  background: url(../src/assets/conocenos.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 100vh;
}

.fondo-conocenos{
  background: linear-gradient(350.97deg, rgba(56, 59, 117, 0) 8.05%, #1E2048 85.04%);
}

.titulo-conocenos {
  position: absolute;
  width: 315px;
  height: 135px;
  left: calc(50% - 315px / 2 + 1.5px);
  top: calc(50% - 135px / 2 - 427.5px);
  text-align: center;
  letter-spacing: -0.408px;
  color: #ffffff;
}

.banner-pie-conocenos {
  position: absolute;
  margin-top: 85vh;
  padding-left: 2rem;
  padding-right: 2rem;
  min-width: 292px;
  min-height: 181px;
  text-align: center;
  letter-spacing: -0.408px;
  color: #ffffff;
}
