.banner-posi-consultoria-escritorio {
  margin-top: -40px;
}

@media (max-width: 1024px) {
  .banner-posi-consultoria-escritorio {
    margin-top: -50px;
  }
}

@media (max-width: 768px) {
  .banner-posi-consultoria-escritorio {
    margin-top: -10px;
  }
}
